@import "./colors.scss";
@import "./fonts.scss";

.artist-page-root{
    min-height: 100vh;
    background-color: $grey;
    width: 100%;
    display: flex;
    flex-direction: column;

    .artist-page-background{
        width: 100%;
        height: 300px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .artist-page-name-wrap{
        padding: 110px 0px 80px 0px;
        position: relative;

        .MuiAvatar-root{
            width: 200px;
            height: 200px;
            position: absolute;
            top: -100px;
            left: calc(100% / 2 - 100px);
            border: 4px solid #FFFFFF;
        }

        .artist-page-name{
            font-family: Open Sans ExtraBold;
            font-style: normal;
            font-weight: 800;
            font-size: 46px;
            line-height: 63px;
            text-align: center;
            color: $black;
        }
    }

    .artist-page-explore-root{
        display: flex;
        flex-direction: column;
        flex: 1;

        .artist-page-explore-wrap{
            display: flex;
            flex-direction: column;
            flex: 1;

            .artist-page-explore-title{
                padding: 0px 113px;
                font-family: Open Sans Bold;
                font-style: normal;
                font-weight: bold;
                font-size: 44px;
                line-height: 60px;
                text-align: center;
                color: $black;
                text-align: left;
            }

            .artist-page-explore-filters-wrap{
                padding: 25px 111px 44px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .artist-page-explore-filter-btn{
                    position: relative;
                    font-family: Open Sans Bold;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    color: $optional-lable;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    margin: 0px 10px;
                    background-color: $grey;

                    &:hover{
                        color: $black;

                        &::before{
                            transform: translateX(-50%);
                            border-radius: 100%;
                            position: absolute;
                            background: $black;
                            bottom: -5px;
                            height: 4px;
                            content: '';
                            width: 4px;
                            left: 50%;
                        }
                    }
                }

                .artist-page-explore-filter-btn-active{
                    color: $black;

                    &::before{
                        transform: translateX(-50%);
                        border-radius: 100%;
                        position: absolute;
                        background: $black;
                        bottom: -5px;
                        height: 4px;
                        content: '';
                        width: 4px;
                        left: 50%;
                    }
                }
            }

            .artist-page-explore-scroll-wrap{
                display: flex;
                height: 100%;
                flex-direction: column;
                flex: 1;

                .artist-page-explore-list-empty-wrap{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-top: 20px;
    
                    .artist-page-explore-list-empty-img-wrap{
                        width: 120px;
                        height: 160px;
    
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
    
                    .artist-page-explore-list-empty-text-wrap{
                        text-align: center;
                        margin-top: 20px;
                        margin-bottom: 40px;
    
                        .artist-page-explore-list-empty-text-title{
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 33px;
                            color: #252423;
                        }
    
                        .artist-page-explore-list-empty-text-desc{
                            margin-top: 10px;
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 19px;
                            line-height: 27px;
                            text-align: center;
                            color: #252423;
                            max-width: 357px;
                        }   
                    }
                }

                .artist-page-explore-scroll-loader{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .artist-page-explore-cards-wrap{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                    padding: 0px 122px 80px;
                    column-gap: 15px;
                }

                .artist-page-explore-footer-wrap{
                    margin-top: auto;
                }
            }
        }
    }
}


@media screen and (max-width: 680px){
    .artist-page-root{
        .artist-page-explore-root{
            .artist-page-explore-wrap{
                .artist-page-explore-title{
                    padding: 100px 16px 0px;
                }
                .artist-page-explore-filters-wrap{
                    padding: 30px 13px 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 860px){
    .artist-page-root{
        .artist-page-explore-root{
            .artist-page-explore-wrap{
                .artist-page-explore-scroll-wrap{
                    .artist-page-explore-cards-wrap{
                        padding: 0px 16px 80px;
                    }
                }
            }
        }
    }
}