@import "./colors.scss";
@import "./fonts.scss";

.asset-root{
    min-height: 100vh;
    background: #FFFFFF;
    width: 100%;
    display: flex;

    .asset-body{
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 120px 12%;

        .asset-image-container{
            flex: 1;

            .asset-image-container-nav{
                width: 100%;
                height: 44px;
                display: flex;
                flex-direction: row;

                .asset-image-container-nav-resize-wrap{
                    height: 32px;
                    width: 32px;
                    margin-left: auto;
                    cursor: pointer;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .asset-image-container-image-wrap{
                margin-top: 31px;
                position: relative;
                
                img{
                    width: 100%;
                }

                .asset-image-container-audio-player-wrap{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 20px 20px;
                }
            }
        }

        .asset-description-container{
            margin-left: 106px;
            flex: 1;
            display: flex;
            flex-direction: column;

            .asset-description-container-nav{
                display: flex;
                flex-direction: row;
                cursor: pointer;

                .MuiAvatar-root{
                    width: 44px;
                    height: 44px;
                }

                .asset-description-container-nav-artist-name{
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #252423;
                    margin: auto 10px;
                }
            }

            .asset-description-container-title{
                font-family: Open Sans Bold;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 27px;
                color: #252423;
                margin-top: 26px;
            }

            .asset-description-container-desc{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #252423;
                margin-top: 10px;
            }

            .asset-description-container-desc-empty{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #868686;
                margin-top: 10px;
            }


            .asset-description-container-auction-container{
                .auction-timer-root{
                    background: #FFFFFF;
                    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
                    border: 1px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 8px;
                    padding: 12px;
                    margin-top: 20px;
                    margin-bottom: 27px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    .auction-timer-img-wrap{
                        width: 16px;
                        height: 16px;
    
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
    
                    .auction-timer-time{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: #252423;
                        margin-left: 10px;
    
                        span{
                            color: rgb(155, 155, 155);
                        }
                    }
                }

                .asset-description-container-auction-title{
                    font-family: Open Sans Bold;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 27px;
                    color: #252423;
                }

                .asset-description-container-auction-table{
                    margin-top: 6px;
                    margin-bottom: 31px;

                    .asset-description-container-auction-table-header{
                        height: 34px;
                        align-items: center;

                        grid-template-columns: repeat(4, 1fr);
                        display: grid;

                        p{
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 16px;
                            color: #868686;
                        }
                    }
                    .asset-description-container-auction-table-body{
                        max-height: 200px;
                        overflow: auto;

                        .table-row{
                            grid-template-columns: repeat(4, 1fr);
                            display: grid;
                            height: 40px;
                            padding: 10px 0;
                            border-bottom: 1px solid #F6F9FA;

                            .table-prices-wrap{
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                .table-prices-wrap-img-wrap{
                                    width: 8.6px;
                                    height: 14px;
                                    margin-right: 2px;

                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .table-prices-wrap-price{
                                    font-family: Open Sans;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 19px;
                                    color: #868686;
                                    margin-left: 4px;

                                    span{
                                        font-family: Open Sans Bold;
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 14px;
                                        line-height: 19px;
                                        color: #868686;
                                        margin-left: 4px;
                                    }
                                }
                            }

                            p{
                                font-family: Open Sans;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 19px;
                                color: #252423;
                            }

                            button{
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 16px;
                                text-align: center;
                                color: #2BD2F7;
                                background: #FFFFFF;
                                border: 0;
                                outline: 0;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .asset-description-container-price-container{
                width: 100%;
                margin-top: auto;

                background: #FFFFFF;
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
                border-radius: 10px;

                .asset-description-container-price-container-price-wrap{
                    padding: 10px 20px 18px 11px;
                    border-bottom: 1px solid #F6F9FA;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .asset-description-container-price-container-price-crypto-wrap{
                        width: 9.83px;
                        height: 16px;
                        margin-right: 3px;

                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .asset-description-container-price-container-price{
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        color: #252423;

                        span{
                            font-family: Open Sans Bold;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 22px;
                            color: #8F8F8E;
                        }
                    }

                    .asset-description-container-price-devider{
                        background: #F6F9FA;
                        width: 1px;
                        height: 10px;
                        margin: 5px 10px;
                    }

                    .asset-description-container-price-container-counts{
                        margin-left: auto;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 19px;
                        color: #868686;
                    }
                }

                .asset-description-container-price-container-btn-wrap{
                    padding: 13px 20px;

                    .asset-description-container-price-container-buy-btn{
                        background: #252423;
                        border: 1px solid #252423;
                        border-radius: 39px;
                        height: 44px;
                        width: 100%;
                        outline: 0;
                        cursor: pointer;

                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                    }

                    .asset-description-container-price-container-buy-loader{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.place-bid-dialog-root{
    .place-bid-dialog-title-root{
        padding: 0 20px;

        .place-bid-dialog-title-wrap{
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #F6F9FA;
            padding: 22px 0 21px 0;
            align-items: center;

            p{
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 27px;

                /* #252423 */

                color: #252423;
            }

            .place-bid-dialog-title-wrap-btn{
                margin-left: auto;
            }
        }
    }

    .place-bid-dialog-content-root{
        padding: 30px 20px 70px 20px;

        .place-bid-dialog-content-balance{
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #252423;
            margin-bottom: 20px;
        }

        .place-bid-dialog-content-prices-wrap{
            display: flex;
            flex-direction: row;
            min-width: 636px;

            .input-root:first-child{
                margin-right: 20px;
            }
        }
    }

    .place-bid-dialog-actions-root{
        padding: 0 14px;

        .place-bid-dialog-actions-wrap{
            padding: 18px 0;
            
            display: flex;
            flex-direction: row;
            width: 100%;
            border-top: 1px solid #F6F9FA;

            .place-bid-dialog-actions-big-btn{
                margin-left: auto;
    
                background: #252423;
                border: 1px solid #252423;
                border-radius: 39px;
    
    
                height: 44px;
                width: 181px;
                outline: 0;
    
                cursor: pointer;
    
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }
    
            .place-bid-dialog-actions-big-btn-disable{
                cursor: not-allowed;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .asset-root{
        .asset-body{
            flex-direction: column;

            .asset-description-container{
                margin-left: 0px;
                margin-top: 16px;

                .asset-description-container-price-container{
                    margin-top: 100px;
                }
            }
        }
    }
}

@media screen and (max-width: 731px){
    .place-bid-dialog-root{
        .place-bid-dialog-content-root{
            .place-bid-dialog-content-prices-wrap{
                min-width: 400px;
            }
        }
    }
}

@media screen and (max-width: 512px){
    .place-bid-dialog-root{
        .place-bid-dialog-content-root{
            .place-bid-dialog-content-prices-wrap{
                flex-direction: column;
                min-width: unset;
            }
        }
    }
}

@media screen and (max-width: 894px){
    .asset-root{
        .asset-body{
            padding: 95px 12%;

            .asset-description-container{
                margin-bottom: 130px;
                
                .asset-description-container-auction-container{
                    .asset-description-container-auction-table{
                        .asset-description-container-auction-table-body{
                            overflow: unset;
                        }
                    }
                }

                .asset-description-container-price-container{
                    margin-top: unset;
                    position: fixed;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    .asset-root{
        .asset-body{
            padding: 95px 16px;
        }
    }
}

@media screen and (max-width: 370px){
    .asset-root{
        .asset-body{
            padding: 95px 16px;
        }
    }
}