@import "./colors.scss";
@import "./fonts.scss";

.card-root{
    width: 388px;
    height: 505px;
    background-color: $grey;
    border: 1px solid $optional-lable;
    border-radius: 20px;
    margin: 15px;

    .card-header{
        border-bottom: 1px solid $optional-lable;
        padding: 15px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .MuiAvatar-root{
            width: 60px;
            height: 60px;
        }

        .card-nickname{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            color: $black;
            margin-left: 16px;
        }
    }

    .card-body{
        padding: 20px;

        .card-image-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 259px;
            width: 348px;

            img{
                width: 100%;
                height: auto;
            }
        }

        .card-body-name-wrap{
            margin-top: 11px;

            .card-body-name{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $black;
            }
        }

        .card-body-footer{
            display: flex;
            justify-content: row;
            margin-top: 22px;

            .card-body-footer-price-wrap{
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $black;
            }

            .card-body-buy-btn{
                width: 107px;
                height: 40px;
                margin-left: auto;
                padding: 10px 40px;
                background-color: $grey;
                border: 1px solid $btn-black;
                outline: 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: $black;
                border-radius: 39px;
                cursor: pointer;
            }
        }
    }

    &:hover{
        background-color: $white;
        border: 1px solid $btn-border;

        .card-body-buy-btn{
            background: linear-gradient(106deg, #62E2FF 9.9%, rgba(48, 79, 242, 0.63) 40.22%, rgba(11, 195, 236, 0.52) 90.65%);
            border: 1px solid #62E2FF !important;
            color: $white !important;
        }
    }
}