@import "./colors.scss";
@import "./fonts.scss";

html{
    scroll-snap-type: y mandatory;
}

.collection-root{
    min-height: 100vh;
    background-color: $grey;
    width: 100%;
    
    .collection-main{
        background: $black;
        min-height: 100vh;
        display: flex;
        position: relative;
        overflow: hidden;
        overflow-y: hidden;
        scroll-snap-align: start;

        .collection-main-container{
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .collection-main-container-title-wrap{
                .collection-main-container-title{
                    font-family: Poller One;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 44px;
                    line-height: 52px;
                    text-align: center;
                    color: $white;

                    span{
                        color: $turquoise;
                    }
                }
            }

            .collection-main-container-text{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: $white;
                max-width: 500px;
                margin-top: 30px;
            }
        }

        .collection-main-bottom{
            width: 515px;
            height: 527px;
            position: absolute;
            bottom: -10px;
            left: 0;
            background-image: url('../images/dots.svg');
            background-repeat: no-repeat;

            .collection-main-bottom-cards{
                width: 350px;
                height: 466px;
                position: absolute;
                left: 30px;
                bottom: -125px;
                background-image: url('../images/cards.svg');
                background-repeat: no-repeat;
            }
        }

        .collection-main-top{
            width: 515px;
            height: 527px;
            position: absolute;
            top: -10px;
            right: 0;
            background-image: url('../images/dots.svg');
            background-repeat: no-repeat;
            transform: rotate(180deg);

            .collection-main-top-cards{
                width: 350px;
                height: 466px;
                position: absolute;
                right: 132px;
                top: 85px;
                background-image: url('../images/cards.svg');
                background-repeat: no-repeat;
                transform: rotate(180deg);
            }
        }
    }

    .collection-explore-root{
       min-height: 100vh; 
       scroll-snap-align: start;

       .collection-explore-wrap{
            height: calc(100vh - 120px);
            display: flex;
            flex-direction: column;

            .collection-explore-title{
                padding: 165px 122px 0px;
                font-family: Poller One;
                font-style: normal;
                font-weight: normal;
                font-size: 44px;
                line-height: 52px;
                text-align: center;
                color: $black;
                text-align: left;
            }

            .collection-explore-scroll-wrap{
                padding: 0px 107px 185px;
                overflow: auto;

                .collection-explore-cards-wrap{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                }
            }
        }
    }
}