@import "./colors.scss";
@import "./fonts.scss";

.collection-root{
    min-height: 100vh;
    background-color: $grey;
    width: 100%;
    
    .collection-main{
        background: $black;
        min-height: 100vh;
        display: flex;
        position: relative;
        overflow: hidden;
        overflow-y: hidden;

        .collection-main-container{
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .collection-main-container-scroll{
                position: absolute;
                bottom: 40px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: $white;
            }

            .collection-main-container-title{
                font-family: Open Sans;
                font-style: normal;
                font-weight: 800;
                font-size: 60px;
                line-height: 82px;
                text-align: center;
                color: $white;
                letter-spacing: 0.035em;
            }

            .collection-main-container-text{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 152.68%;
                text-align: center;
                color: $white;
                max-width: 447px;
                margin-top: 10px;
                padding: 0px 16px;
                letter-spacing: 0.035em;
            }
        }

        .collection-main-bottom{
            width: 515px;
            height: 527px;
            position: absolute;
            bottom: -10px;
            left: 0;

            .collection-main-bottom-dots{
                width: 100%;
                height: 100%;
            }

            .collection-main-bottom-cards{
                width: 350px;
                height: 466px;
                position: absolute;
                left: 30px;
                bottom: -125px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .collection-main-top{
            width: 515px;
            height: 527px;
            position: absolute;
            top: -10px;
            right: 0;
            transform: rotate(180deg);

            .collection-main-top-dots{
                width: 100%;
                height: 100%;
            }

            .collection-main-top-cards{
                width: 350px;
                height: 466px;
                position: absolute;
                right: 132px;
                top: 85px;
                transform: rotate(180deg);

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .collection-explore-root{
        min-height: 100vh;
        display: flex;
        flex-direction: column;

       .collection-explore-wrap{
            display: flex;
            flex-direction: column;
            flex: 1;

            .collection-explore-title{
                padding: 140px 113px 0px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 44px;
                line-height: 60px;
                text-align: center;
                color: $black;
                text-align: left;
            }

            .collection-explore-filters-wrap{
                padding: 30px 124px 30px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .collection-explore-filter-btn{
                    color: $black;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 10px 20px;
                    border: 1px solid $optional-lable;
                    border-radius: 39px;
                    outline: 0;
                    cursor: pointer;
                    margin: 0px 10px;
                    background-color: $grey;

                    &:hover{
                        background: $black;
                        border: 1px solid $black;
                        color: $white;
                    }
                }

                .collection-explore-filter-btn-active{
                    background: $black;
                    border: 1px solid $black;
                    color: $white;
                }
            }

            .collection-explore-scroll-wrap{
                display: flex;
                height: 100%;
                flex-direction: column;
                flex: 1;

                .collection-explore-scroll-loader{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .collection-explore-cards-wrap{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                    padding: 0px 122px 80px;
                    column-gap: 15px;
                }

                .collection-explore-footer-wrap{
                    margin-top: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 1380px){
    .collection-root{
        .collection-main{
            .collection-main-top{
                .collection-main-top-cards{
                    display: none;
                }
            }
            .collection-main-bottom{
                .collection-main-bottom-cards{
                    display: none;
                }
            }
        }
    }
}


@media screen and (max-width: 620px){
    .collection-root{
        .collection-main{
            .collection-main-container{
                .collection-main-container-title{
                    font-size: 22px;
                    line-height: 26px; 
                }

                .collection-main-container-text{
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }
    }
}

@media screen and (max-width: 680px){
    .collection-root{
        .collection-explore-root{
            .collection-explore-wrap{
                .collection-explore-title{
                    padding: 100px 16px 0px;
                }
                .collection-explore-filters-wrap{
                    padding: 30px 13px 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 860px){
    .collection-root{
        .collection-explore-root{
            .collection-explore-wrap{
                .collection-explore-scroll-wrap{
                    .collection-explore-cards-wrap{
                        padding: 0px 16px 80px;
                    }
                }
            }
        }
    }
}