@import "./colors.scss";
@import "./fonts.scss";

.dialog-root{
    .MuiDialogTitle-root{
        padding: 0;
    }

    .MuiPaper-rounded{
        border-radius: 10px;
    }

    .MuiPaper-elevation24{
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
    }

    .MuiAvatar-root{
        width: 60px;
        height: 60px;
    }

    .MuiDialogContent-dividers{
        padding: 20px;
    }

    .dialog-card-header-wrap{
        padding: 0px 20px;

        .dialog-card-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px 0px;
            border-bottom: 1px solid $btn-white;
    
            .dialog-card-header-nickname{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                color: $black;
                margin-left: 16px;
            }
        }
    }

    .dialog-actions{
        display: flex;
        flex-direction: row;
        padding: 28px 20px;
        justify-content: normal;
        background-color: $black;

        .dialog-actions-price-wrap{
            display: flex;
            flex-direction: row;
            align-items: center;

            div{
                background-color: $btn-white;
                height: 10px;
                width: 1px;
                margin: 0px 10px;
            }

            p{
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $white;
            }
        }

        .dialog-actions-buy-btn{
            width: 150px;
            height: 40px;
            margin-left: 43px;
            padding: 10px 40px;
            background-color: $black;
            border: 1px solid $white;
            outline: 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $white;
            border-radius: 39px;
            cursor: pointer;
            margin-left: auto;

            &:hover{
                background: linear-gradient(106deg, #62E2FF 9.9%, rgba(48, 79, 242, 0.63) 40.22%, rgba(11, 195, 236, 0.52) 90.65%);
                border: 1px solid #62E2FF !important;
                color: $white !important;
            }
        }
    }

    .MuiDialogContent-root{
        padding: 20px;
    }

    .dialog-content{
        display: flex;
        flex-direction: row;
        

        .dialog-content-image-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            max-height: 458px;
            max-width: 482px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .dialog-content-text-wrap{
            margin-left: 18px;
            
           .dialog-content-text-title{
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: $black;
            }
            
            .dialog-content-text-description{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: $btn-black;
                max-width: 260px;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 460px){
    .dialog-root{
        .dialog-card-header{
            padding: 10px;

            .dialog-card-header-nickname{
                margin-left: 10px;
            }
        }

        .dialog-content{
            flex-direction: column;

            .dialog-content-image-wrap{
                width: 206px;
                height: 190px;
                margin: auto;
            }

            .dialog-content-text-wrap{
                margin-left: 0px;
            }
        }

        .dialog-actions{
            .dialog-actions-buy-btn{
                width: 110px;
            }
        }
    }
}