@import "./colors.scss";
@import "./fonts.scss";

.footer-root{    
    background-color: $grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 9% 20px;
    position: relative;

    .footer-logo-wrap{
        cursor: pointer;

        .footer-logo-wrap-title{
            color: $black;
            font-style: normal;
            font-weight: normal;
            font-family: Poller One;
            font-size: 20px;
            line-height: 24px;
        }

        .footer-logo-wrap-by{
            font-family: Oxygen;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            line-height: 10px;
            color: $black;
            text-align: center;
        }
    }

    .footer-links-root{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-links-wrap{
            display: flex;
            flex-direction: row;

            p{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: #868686;
                text-decoration: none;
            }
    
            .footer-links-center{
                margin-left: 30px;
                margin-right: 30px;
            }
        }

        .footer-title{
            margin-top: 10px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.035em;
            color: #868686;
        }
    }    

    .footer-items-wrap-rigth{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .footer-righth-item{
            width: 20px;
            height: 20px;
            margin-left: 30px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 910px){
    .footer-root{
        padding: 17px 24px 16px 17px;
    }
}

@media screen and (max-width: 652px) {
    .footer-root{
        flex-direction: column;

        .footer-logo-wrap{
            margin: 10px 0;
        }

        .footer-items-wrap-rigth{
            order: -1;

            .footer-righth-item{
                margin-left: 30px !important;
                &:first-child{
                    margin-left: 0 !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1070px){
    .footer-root{
        .footer-items-wrap-rigth{
            .footer-righth-item{
                margin-left: 10px;
            }
        }
    }
}

@media screen and (max-width: 360px){
    .footer-root{
        .footer-title{
            font-size: 12px;
            line-height: 16px;
        }

        .footer-links-wrap{
            p{
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}