@import "./colors.scss";
@import "./fonts.scss";

.footer-root{    
    background-color: $grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 9% 28px;
    position: relative;

    .footer-logo-wrap{
        cursor: pointer;

        .footer-logo-wrap-title{
            color: $black;
            font-style: normal;
            font-weight: normal;
            font-family: Poller One;
            font-size: 20px;
            line-height: 24px;
        }

        .footer-logo-wrap-by{
            font-family: Oxygen;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            line-height: 10px;
            color: $black;
            text-align: center;
        }
    }

    .footer-title{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.035em;
        color: #868686;
        position: absolute;
        left: calc(100% / 2 - 80px);
    }

    .footer-items-wrap{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        cursor: pointer;

        p{
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            text-decoration-line: underline;
            color: #868686;
        }

        p:first-child{
            margin-right: 40px;
        }
    }
}

@media screen and (max-width: 850px){
    .footer-root{
        flex-direction: column;
        padding: 17px 24px 16px 17px;

        .footer-logo-wrap{
            margin: 10px 0;
        }

        .footer-title{
            position: relative;
            left: 0;
        }

        .footer-items-wrap{
            order: -1;
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 360px){
    .footer-root{
        .footer-title{
            font-size: 12px;
            line-height: 16px;
        }

        .footer-items-wrap{
            p{
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}