@import "./colors.scss";
@import "./fonts.scss";

.input-root{
    width: 100%;
    margin: 10px 0px;
    
    .input-lable-wrap{
        margin-bottom: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .input-lable{
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.5px;
            color: $black;
        }
    
        .input-optional-lable{
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.5px;
            color: $optional-lable;
            margin-left: 14px;
        }
    }

    .input{
        width: 100%;
        outline: 0;
        background: $white;
        border: 1px solid $input-border;
        border-radius: 8px;
        padding: 10px 14px;
        color: $black;
    }

    .input.error{
        border: 1px solid red;
        color: red;
    }

    .input-help-wrap{
        display: flex;
        flex-direction: column;

        .error-text{
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: -0.5px;
            color: red;
            margin-left: 10px;
        }

        .helper-text{
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: -0.5px;
            color: $optional-lable;
            margin-left: auto;
        }
    }
}