@import "./colors.scss";
@import "./fonts.scss";

.mail-form-root{
    margin-top: 150px;
    background: #FFFFFF;
    padding: 43px 0px 40px 0px;

    .mail-form-wrap{
        .mail-form-title{
            font-family: Open Sans Bold;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            color: #252423;
            text-align: center;
            margin-bottom: 30px;
        } 

        .mail-form-body-wrap{
            max-width: 500px;
            margin: 0 auto;
            position: relative;
            background: #FFFFFF;
            border: 1px solid #E4ECEE;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 14px 10px;

            .mail-form-input{
                width: calc(100% - 54px);
                outline: 0;
                border: 0;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $black !important;

                &::placeholder{
                    color: #868686 !important;
                }
            }

            .mail-form-btn{
                position: absolute;
                right: -1px;
                top: -1px;
                outline: 0;
                width: 54px;
                height: 54px;
                border: 0;
                border-radius: 8px;
                cursor: pointer;
                background: $black;

                img{
                    width: 20px;
                    height: 18px;
                }
            }
        }
    }
}