@import "./colors.scss";
@import "./fonts.scss";

.mail-form-root{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
    border-radius: 10px; 
    padding: 20px;
    margin-top: 10px;

    .mail-form-wrap{
        .mail-form-title{
            font-family: Open Sans;
            font-style: normal;
            font-weight: 300;
            font-size: 19px;
            line-height: 27px;
            text-align: center;
            color: #252423;
        } 

        .mail-form-body-wrap{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;

            .mail-form-input{
                width: 100%;
                outline: 0;
                background: $white;
                border: 1px solid $input-border;
                border-radius: 8px;
                padding: 14px 10px;

                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #868686 !important;
            }

            .mail-form-btn{
                margin-left: 20px;
                outline: 0;
                padding: 10px 20px;
                border: 1px solid $btn-black;
                border-radius: 39px;
                cursor: pointer;
                background: #fff;
                color: $black;

                &:hover{
                    background: $btn-black;
                    color: $white;
                }
            }
        }
    }
}