@import "./colors.scss";
@import "./fonts.scss";

.navigation-root{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 10px 8% 10px;
    background-color: $black;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;

    .navigation-title-wrap{
        display: flex;
        flex-direction: row;
        cursor: pointer;

        .navigation-logo-wrap{
            .navigation-logo-wrap-title{
                color: $white;
                font-style: normal;
                font-weight: normal;
                font-family: Poller One;
                font-size: 20px;
                line-height: 24px;
            }

            .navigation-logo-wrap-by{
                font-family: Oxygen;
                font-style: normal;
                font-weight: normal;
                font-size: 8px;
                line-height: 10px;
                color: $white;
                text-align: center;
            }
        }

        .navigation-artist-logo-wrap{
            display: flex;
            flex-direction: row;
            
            .navigation-artist-logo-cross{
                width: 20px;
                height: 20px;
                background-image: url('../images/nav-cross.svg');
                background-repeat: no-repeat;
                margin: 4px 9px 0px 9px;
            }
            .navigation-artist-logo-title{
                font-family: Oxygen;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 23px;
                color: $white;
            }
        }
    
        .navigation-menu-wrap{
            margin-left: auto;
            display: none;
        }
    }

    .navigation-wrap{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        transition: height .4s;
        transition: margin-top .4s;

        .navigation-item{
            color: $white;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            margin: 0px 30px;
            cursor: pointer;

            &:hover{
                color: $turquoise;
            }
        }

        .navigation-item-active{
            color: $turquoise;
        }

        .connect-button{
            margin-left: 30px;
            color: $turquoise;
            background: $black;
            border: 1px solid $turquoise;
            cursor: pointer;
            outline: 0;
            padding: 12px 20px;
            border-radius: 20px;
        }
    }
}

@media screen and (max-width: 775px){
    .navigation-root{
        flex-direction: column;
        padding: 25px 16px;

        .navigation-title-wrap{
            width: 100%;

            .navigation-menu-wrap{
                display: block;
            }
        }

        .navigation-wrap{
            flex-direction: column;
            margin-left: 0;
            height: 0px;
            overflow: hidden;

            .navigation-item{
                padding: 10px 0;
            }

            .connect-button{
                margin-top: 20px;
                margin-left: 0;
            }
        }

        .navigation-wrap.open{
            margin-top: 30px;
            height: 100vh;
        }
    }
}